AWS_REGION=us-east-1
NOVA_LITE_MODEL=amazon.nova-lite-v1:0
AGENTCORE_ROLE_ARN=
WEATHER_LAMBDA=lesson11-exercise-weather-api
CURRENCY_LAMBDA=lesson11-exercise-currency-api
NEWS_LAMBDA=lesson11-exercise-news-api
STOCK_PRICE_LAMBDA=lesson11-exercise-stock-price-api
